<h1>TicTacToe</h1>

<app-board></app-board>

<ng-template [ngIf]="!(hasResult | async)">
  <p class="lead player-current">Current Player:
    <span class="player-one" *ngIf="isPlayerOneTurn | async">Player 1</span>
    <span class="player-two" *ngIf="isPlayerTwoTurn | async">Player 2</span>
  </p>
</ng-template>

<ng-template [ngIf]="hasResult | async">
  <p class="lead winner" *ngIf="isPlayerOneWin | async">Player 1 has won!</p>
  <p class="lead winner" *ngIf="isPlayerTwoWin | async">Player 2 has won!</p>
  <p class="lead draw" *ngIf="isDraw | async">Match is a draw</p>

  <button type="button" (click)="game.reset()">Reset</button>
</ng-template>
