<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <img class="logo" src="/assets/logo/angular-tic-tac-toe.svg" alt="Angular Tic Tac Toe">
        TicTacToe
      </li>
    </ul>
  </div>
</div>

<div class="grid-x grid-margin-x">
  <div class="cell text-center">
    <app-board class="game-board"></app-board>
  </div>

  <div class="cell text-center">
    <ng-template [ngIf]="!(hasResult | async)">
      <p class="lead player-current text-center">Current Player:
        <span class="player-one" *ngIf="isPlayerOneTurn | async">Player 1</span>
        <span class="player-two" *ngIf="isPlayerTwoTurn | async">Player 2</span>
      </p>
    </ng-template>

    <ng-template [ngIf]="hasResult | async">
      <p class="lead winner text-center" *ngIf="isPlayerOneWin | async">Player 1 has won!</p>
      <p class="lead winner text-center" *ngIf="isPlayerTwoWin | async">Player 2 has won!</p>
      <p class="lead draw text-center" *ngIf="isDraw | async">Match is a draw</p>

      <button class="button" type="button" (click)="game.reset()">Reset</button>
    </ng-template>
  </div>
</div>
