.game-board,
.top-bar {
  margin-bottom: 2rem;
}

.logo  {
  height: 2rem;
  margin-right: 10px;
}

.winner {
  color: #43a047;
}

.draw {
  color: #1565c0;
}

.player-one {
  color: #ff5722;
}

.player-two {
  color: #4527a0;
}
