@import '~foundation-sites/scss/foundation';
@import "../scss/settings";

.top-bar,
.game-board {
  margin-bottom: 2rem;
}

.logo  {
  height: 2rem;
  margin-right: 10px;
}

.draw { color: $primary-color; }
.winner { color: $success-color; }
.player-one { color: $warning-color; }
.player-two { color: $alert-color; }
