@import '~foundation-sites/scss/foundation';
@import "../../scss/settings";

:host {
  display: inline-block;
  position: relative;
}

.table {
  margin-bottom: 0;
}

.col {
  border: 5px solid $white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  transition: background-color .2s ease;

  &.col-left { border-left-color: transparent; }
  &.col-right { border-right-color: transparent; }
  .row-top & { border-top-color: transparent; }
  .row-bottom & { border-bottom-color: transparent; }
}

.cross {
  bottom: 0;
  left: 0;
  height: 100%;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 100%;
}
