<table class="table">
  <tr
    class="row" *ngFor="let row of game.board$ | async ; let r = index"
    [ngClass]="{
      'row-top': r === 0,
      'row-bottom': r === 2
    }">
    <td
      class="col stat tile-{{ r }}-{{ c }}"
      [ngClass]="{
        'col-left': c === 0,
        'col-right': c === 2,
        'col-won': isWinningTile(r, c) | async
      }"
      *ngFor="let col of row; let c = index"
      (click)="game.updateBoard(r, c)">
      {{ getXO(col) }}
    </td>
  </tr>
</table>

<svg class="cross" *ngIf="(game.state$ | async) === 0 || (game.state$ | async) === 1">
  <line
    [attr.x1]="(getLineXY() | async).x1"
    [attr.y1]="(getLineXY() | async).y1"
    [attr.x2]="(getLineXY() | async).x2"
    [attr.y2]="(getLineXY() | async).y2"
    stroke="#fefefe"
    stroke-width="5">
  </line>
</svg>
