// 1. Global
// ---------

$global-font-size: 21px;
$global-lineheight: 1.5;
$body-background: $black;
$body-font-color: $white;
$body-font-family: 'Gloria Hallelujah', cursive;
$body-antialiased: true;

// 5. Typography Helpers
// ---------------------

$stat-font-size: 3rem;

// 50. Table
// ---------

$table-background: transparent;
$table-color-scale: 0%;
$table-border: 1px solid transparent;
$table-hover-scale: 2%;
$table-row-hover: $table-background;
$table-row-stripe-hover: $table-background;
$table-is-striped: false;

// 55. Top Bar
// -----------

$topbar-background: lighten($black, 3%);
$topbar-submenu-background: $topbar-background;
